/node_modules
/public/hot
/public/storage
/public/img
/public/fonts
/public/js
/public/assets
/public/css/all.css
/public/css/main.css.map
/public/mix-manifest.json
/public/css/main.css
/public/sitemap.xml
/public/js/app.js
/public/js/app.js.map
/resources/js/ziggy.js
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
