/*
container.less
------------------------------------------------------------------------- */

.container {
    position: relative;
    width: @container-width;
    max-width: @container-max-width;
    font-family: @primary-font;
    font-size: @base-font-size;
    background: @primary-background;

    &__wrapper {
        position: relative;
        width: @wrapper-width;
        margin: 0 auto;
    }
}
